.details-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 3.5rem;
  width: 25rem;
  h1 {
    font-weight: 600;
    font-size: 2.25rem;
    color: #396bae;
    margin-bottom: 2rem;
  }
  span {
    font-weight: 200;
    font-size: 6rem;
    color: #4a6fa1;
    margin-left: 1.5rem;
    line-height: 1;
  }
  h4 {
    font-size: 1.9rem;
    text-align: left;
    color: #7b98b2;
  }

  .weather-deatils {
    display: flex;
    flex-wrap: wrap;
  }
  .top-section {
    display: flex;
    justify-content: space-between;
    width: 96rem;
  }

  .weather-status {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    img {
      margin-right: 1rem;
      width: 16rem;
      object-fit: cover;
      margin-left: -0.3rem;
    }
  }
}
